.menu-items {
  position: fixed;
  color: black; /* Adjust default text color */
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px; /* Adjust margin if needed */
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  padding: 8px 13px; /* Adjust padding as desired */
  border-radius: 4px; /* Add rounded corners for a smoother look */
}

.menu-items:hover {
  background-color: #e8edfb; /* Background color on hover */
  color: #000; /* Darken text color on hover */
}
