.hero-title {
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px; /* 120% */
  letter-spacing: -2.4px;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.75) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-description {
  color: #ffffffcc;
  font-family: "Inter-Regular", Helvetica;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.32px;
  line-height: 26px;
  position: relative;
  width: 651px;
}

.hero-image {
  max-width: 100%;
  max-height: 100%;
}
