.footer,
.footer2,
.footer3 {
  color: white;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

.footer:hover,
.footer2:hover,
.footer3:hover {
  color: #1d4ed8;
}
